{% extends "../layout.html" %}



{% block content %}

    <h2><u>Listado de empleados</u></h2>


    {% if usuarios %}
        <div class="m-5 text-white">
            <table class="table text-white">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Habilitado</th>

                </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    {% if usuario.habilitado %}
                        <td>
                            <span class="badge badge-success">Si</span>
                        </td>
                    {% else %}
                        <td>
                            <span class="badge badge-danger">No</span>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No hay usuarios registrados</p>
    {% endif %}

{% endblock %}
