{% extends "../layout.html" %}



{% block content %}

    <h2><u>Añadir partes</u></h2>


    <form method="post" class="p-5">
        {% csrf_token %}

        <div class="mb-3">
            <label for="proyecto" class="form-label">Seleccionar proyecto: </label>
            <select class="form-select" name="proyecto" id="proyecto" aria-label="Seleccionar proyecto" required>
                {% for proyecto in proyectos %}
                    <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="observacion" class="form-label">Observaciones:</label>
            <textarea name="observacion" class="form-control" id="observacion" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="duracion" class="form-label">Duración:</label>
            <input type="time" name="duracion" class="form-control" id="duracion" placeholder="Duración en horas"
                   required>
        </div>
        <div class="mb-5">
            <label for="fecha" class="form-label">Fecha:</label>
            <input type="date" name="fecha" class="form-control" id="fecha" required>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary w-100">Añadir</button>
        </div>

    </form>

{% endblock %}
