<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo ERP - Departamentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/tailwindcss">
        /* css personalizado de ta */
        @layer utilities {

        }
    </style>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>

</head>
<body>
<div class="prose">
    <!-- plugins tailwind -->
  </div>
<h1 class="text-3xl font-bold underline text-clifford">
    Hello world!
</h1>
</body>
</html>